@charset "utf-8";

#error_index_bxslider {
	width:100%; height:675px; background-color:#eee;}

#title_top {
	margin:0 auto;
	width:1200px; height:675px;}
	
.bxslider img {
	float:left;
	width:1200px; height:675px;}
	
#title_middle { background-color:#fff;
	margin:0 auto;
	width:100%;
	padding:20px 0 50px 0;}


/* 베스트 여행 */
#title_middle #middle_bestpd {
	width:1200px; background-color:#fff; margin:0 auto;
	position:relative;
	padding:30px 0 70px 0;}
	
#bestpd_wrap {
	width:1200px; height:400px; /*285*/ }
	
#bestpd_wrap .bxslider_bestpd li a img:first-child {
	width:285px; height:200px;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption {
	width:285px; height:200px; background-color:#fff; 
	padding:20px;
	border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul {
	width:245px; height:160px; line-height:30px;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul li:nth-child(1) {
	font-weight:bold;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul li:nth-child(2) {
	border-top:1px solid #000;
	width:100px; height:0px;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul li:nth-child(3) {
	font-size:14px; }
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul li:nth-child(n+4) {
	font-weight:bold; width:100%;}
	
#bestpd_wrap .bxslider_bestpd li a figure figcaption ul li span {
	float:right; color:#f00; font-size:14px;}

#bestpd_wrap .bxslider_bestpd .common_ico {
	left:132px; top:190px;}
	
.bxslider_bestpd li {
	margin-right:20px; positioin:relative;}
	
.bxslider_bestpd li:last-child {
	}
#bestpd_wrap .bxslider_bestpd li a figure .bestpd_figure_img_wrap {
	width:285px; height:200px; overflow:hidden;}
	
#bestpd_wrap .bxslider_bestpd li a img {
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:linear;}
	
#bestpd_wrap .bxslider_bestpd li a img:hover {
	transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);}
	
	
	
/* 사용자추천 */	
#wrap_2 {
	width:100%; height:545px; background-color:#fff;}

#title_middle #middle_pointpd {
	width:1200px;  background-color:#fff; margin:0 auto;
	padding:30px 0 70px 0;}
	
#pointpd_wrap {width:1200px; height:400px;}
	
#middle_pointpd #pointpd_left {
	width:600px; height:400px;
	clear:both; float:left;}	
	
#pointpd_left .pointpd_left_cont_wrap {
	width:280px; background-color:#ff3; position:relative;
	margin-right:20px; float:left;}
	
#pointpd_left .pointpd_left_cont_title {
	width:280px; height:150px; 
	padding:30px 20px;
	font-weight:bold; color:#fff; font-size:16px;
	text-align:center;}
	
#pointpd_left .pointpd_left_cont_title_bg1 {
	 background-color:#fdc45d;}

#pointpd_left .pointpd_left_cont_title_bg2  {
	background-color:#63bcaa;}
	
#pointpd_left .pointpd_left_cont_explain { 
	width:280px; height:250px; background-color:#fff;
	padding:30px 20px;
	border:1px solid #ddd; border-top:0;}
	
#pointpd_left .pointpd_left_cont_explain span:nth-child(1) {
	font-weight:bold; height:70px; font-size:14px;}
	
#pointpd_left .pointpd_left_cont_explain span:nth-child(2) {
	height:100px;}
	
#pointpd_left .pointpd_left_cont_explain span:nth-child(3) {
	font-weight:bold; color:#f00; height:20px; width:240px; text-align:right; font-size:14px;}
	
#middle_pointpd #pointpd_right {
	width:600px; height:400px; position:relative;
	float:left;}
	
.bxslider_pointpd li:nth-child(n) {
	width:600px; height:400px;}
	
.bxslider_pointpd li a img {
	width:100%; height:100%;}
	
.bxslider_pointpd .bxslider_pointpd_00 {
	width:220px; height:150px;
	clear:both; float:left; overflow:hidden;}

.bxslider_pointpd .bxslider_pointpd_00 img {
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:linear;}
	
.bxslider_pointpd .bxslider_pointpd_00 img:hover {
	transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);}	

.bxslider_pointpd .bxslider_pointpd_01 {
	width:350px; height:150px; background-color:rgba(255,255,255,0.6);
	float:left; text-align:center; line-height:150px;
	border:1px solid #ddd;}
	
.bxslider_pointpd .bxslider_pointpd_10 {
	width:220px; height:250px; background-color:rgba(255,255,255,0.6);
	clear:both; float:left; padding:30px 20px;
	border:1px solid #ddd;}
	
.bxslider_pointpd .bxslider_pointpd_10 span:nth-child(1) {
	font-weight:bold; height:70px; font-size:14px;}
	
.bxslider_pointpd .bxslider_pointpd_10 span:nth-child(2) {
	height:100px;}
	
.bxslider_pointpd .bxslider_pointpd_10 span:nth-child(3) {
	font-weight:bold; color:#f00; height:20px; width:180px; text-align:right; font-size:14px;}
	
.bxslider_pointpd .bxslider_pointpd_11 {
	width:350px; height:250px;
	float:left; overflow:hidden;}
	
.bxslider_pointpd .bxslider_pointpd_11 img {
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:linear;}
	
.bxslider_pointpd .bxslider_pointpd_11 img:hover {
	transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);}
	
.pointpd_left_cont_wrap .common_ico {
	top:150px; left:132px;}



/* 테마여행 */
#wrap_3 {width:100%; background-color:#eee;}
#title_middle #middle_themapd {
	width:1200px; background-color:#eee; margin:0 auto;
	padding:30px 0 70px 0;}
	
#themapd_wrap {width:1200px; height:510px;}

#tabs-1 a, #tabs-2 a, #tabs-3 a, #tabs-4 a {float:left;}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {margin-top:20px;}

.tabs_small_outer {
	width:300px; height:220px;
	overflow:hidden; position:relative;}
	
.tabs_small_inner {
	width:300px; height:220px;
	position:relative;
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:linear;}
	
.animate_themapd_common1 {
	transform:rotate(-4deg) scale(1.1);
    -ms-transform: rotate(-4deg) scale(1.1);
    -moz-transform: rotate(-4deg) scale(1.1);
    -webkit-transform: rotate(-4deg) scale(1.1);}
	
.animate_themapd_common2 {
	transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);}
	
.tabs_small_img {
	position:absolute; z-index:1;}

.tabs_common_title {
	position:absolute; z-index:2; top:12px; left:12px;
	width:120px; height:80px; background-color:rgba(255,255,255,0.7); 
	text-align:center; padding-top:15px;}
	
.tabs_common_title p:nth-child(1) {
	font-weight:bold; font-size:16px; margin-bottom:5px;}
	
.tabs_common_title p:nth-child(2) {
	font-weight:0;}
	
.tabs_common_title p:nth-child(3) {
	font-weight:bold; color:#f00;}
	
.tabs_small_cont {
	position:absolute; z-index:3; top:0; left:0;
	width:300px; height:220px; /*background-color:rgba(71,118,213,0.8);*/ background-color:rgba(0,0,0,0.6); /*68*/
	opacity:0; color:#fff;
	text-align:center; line-height:220px; }

/**/
.tabs_large_outer {
	width:600px; height:220px;
	overflow:hidden; position:relative;}
	
.tabs_large_inner {
	width:600px; height:220px;
	position:relative;
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:linear;}
	
.tabs_large_img {
	position:absolute; z-index:1;}
	
.tabs_large_cont {
	position:absolute; z-index:3; top:0; left:0;
	width:600px; height:220px; /*background-color:rgba(71,118,213,0.8);*/ background-color:rgba(0,0,0,0.6);
	opacity:0; color:#fff; 
	text-align:center; line-height:220px;}
	
	/**/
	
#middle_themapd #tabs #tabs-1 .large_wrap {
	width:600px; height:220px; float:left;}

/* 드래그이벤트 */
#wrap_4 {
	width:100%; height:850px; margin:0 auto;
	background:url(../images/common/drag_bg.jpg) no-repeat scroll center center;}

#title_middle #middle_drageventpd {
	width:1200px; padding:30px 0 70px 0; margin:0 auto;}
	
#drageventpd_bg {
	position:relative;
	width:1200px; height:675px;}
	
#drageventpd_box_outer {
	text-align:center;
	position:absolute; left:400px; top:170px;
	width:400px;}
	
#drageventpd_box_outer span {
	font-weight:bold; font-size:18px; color:#fff;
	margin-bottom:10px;}
	
#drageventpd_box_inner {
	width:400px; height:70px; 
	background-color:rgba(255,255,255,0.5); border:5px solid #fff;}
	

	
.drageventpd_component_common {
	position:absolute; z-index:1;
	width:200px; height:50px; opacity:0.7;}
	
.drageventpd_component1 {left:150px; top:100px;}
.drageventpd_component2 {left:80px; top:250px;}
.drageventpd_component3 {left:100px; top:320px;}
.drageventpd_component4 {left:200px; top:420px;}
.drageventpd_component5 {left:940px; top:150px;}
.drageventpd_component6 {left:880px; top:300px;}
.drageventpd_component7 {left:970px; top:400px;}
.drageventpd_component8 {left:600px; top:350px;}
.drageventpd_component9 {left:470px; top:490px;}
.drageventpd_component10 {left:820px; top:530px;}
	
.drageventpd_point {
	cursor:pointer; z-index:2; opacity:1;}


/**/

	
	
	
	
	
	
	
	
	
	
	
	
	
