@charset "utf-8";
/* FOUC 화면깜빡임 방지 */
#etc_fouc {opacity:0;}

/* 기본 css의 마진패딩 제거 */
html, body, div, span 
, header, nav, section, article, footer, aside
, p, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6
, form, input, fieldset, legend, textarea, select, button, label
, figure, figcaption, img
, table, caption, tbody, tfoot, thead, tr, th, td
, pre, code
{margin:0; padding:0; box-sizing:border-box;}

/* 사이트 기본 설정 */
html {letter-spacing:2px; font:400 100%/1em "Nanum Gothic"; color:#2e2e2e; word-break:keep-all;}
a {text-decoration:none; color:inherit;}
/*
a:hover {text-decoration:underline;}*/
ul, ol {list-style-type:none;}
img, fieldset {border:0px;}
/* tab 접근성때문에 흠... */
/* input:focus, button:focus, textarea:focus {outline:none;}*/
em, address {font-style:normal;}
/* collapse 를 기본으로 두는게 맞긴한데 */
table {border:0px; border-spacing:0px;}
button > span {position:relative;}
h1,h2,h3,h4,h5,h6 {font-family:"Jeju Gothic"; letter-spacing:3px;}
fieldset, caption, legend {display:block; overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px;}
/*abbr {text-decoration:none;}*/
input, select, textarea, button {color:inherit; font-size:inherit; font-family:inherit; border:1px solid #d6d6d6; }
textarea {resize:none;}

/* 크로스브라우징 용(ie10이상) */
 button {  
	width:100%;
	background: none;
    border: 0;
    color: inherit;
	cursor:pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
}
/* placeholder 크로스브라우징 */
input:focus:-webkit-input-placeholder {/* WebKit browsers */color:transparent;} 
input:focus:-moz-placeholder {/* Mozilla Firefox 4 to 18 */color:transparent;} 

/* 익스9 부터는 구지 안적어도 되지만 일단 적어놓음 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/* main엘리먼트는 ie11 이하 지원X */
main {display:block;}

/* 이하 자주쓰는 css */
.cleartxt_nocont {display:block; overflow:hidden; position:absolute; width:1px; height:1px;}
.cleartxt_yescont {text-indent:-5000px; overflow:hidden;}
.central_sorting {position:absolute; top:50%;left:50%; transform:translate(-50%, -50%);}

/**/
/* #tit_nav 는 서브만 존재 */
body, #tit_outer, #tit_nav, #tit_header, #tit_main, #tit_aside, #tit_footer {position:relative; width:100%;}
body {background-color:#f2f3fa;}
/* overflow 속성을 줘야 margin 값도 인식하여 부모가 height 값을 자동으로 받나봄 */
#tit_outer {overflow-x:hidden; max-width:2560px; height:auto; margin:0 auto;}

.sec_whitebox_t, .sec_whitebox_b {z-index:3; position:absolute;}
.sec_whitebox_t {border-top:9vh solid #f2f3fa; top:0; left:0px; }
.sec_whitebox_b {border-top:9vh solid transparent; bottom:0; left:0;}

/* 스태틱인 이유는 absolute 로 위치가 정해지는것이 아니기 때문 */
.tit_whitebox_a_common {position:relative; z-index:2;}
.tit_whitebox_a_common .sec_whitebox_t {position:static;}
#tit_outer > .tit_whitebox_aside1 {background-color:#cc435a;}
#tit_outer > .tit_whitebox_aside2 {background-color:transparent;}
#tit_outer > .tit_whitebox_aside2 .sec_whitebox_t {border-color:#cc435a;}

/* index는 h3, sub은 h2 메뉴글씨 공통 */
.main_sec a h3, #header_sec_h2 {position:absolute; left:50%;top:50%; transform:translate(-50%, -50%); color:#f2f3fa; letter-spacing:10px; white-space:nowrap; font-size:1.25rem;}
#header_sec_h2 {font-family:"Jeju Gothic"; font-weight:bold;}

/* title_aside */
#tit_aside {z-index:2; background-color:#cc435a;}
/* #aside_sec {position:absolute; z-index:4; top:50%; left:50%; transform:translate(-50%);}  */
#aside_sec {width:1200px; height:auto; margin:0 auto; } 
/* #aside_sec {display:table-cell; vertical-align: middle;} */
ul#sec_iconbox {text-align:center;}
ul#sec_iconbox li {display:inline-block;}
ul#sec_iconbox li a {display:block; width:40px; height:40px; margin:20px 80px; background-image:url("../images/common/icons1.png"); background-repeat:no-repeat;}
ul#sec_iconbox li:nth-child(1) a {background-position:0px 0px;}
ul#sec_iconbox li:nth-child(1) a:hover {background-position:-40px 0px;}
ul#sec_iconbox li:nth-child(2) a {background-position:0px -40px;}
ul#sec_iconbox li:nth-child(2) a:hover {background-position:-40px -40px;}
ul#sec_iconbox li:nth-child(3) a {background-position:0px -80px;}
ul#sec_iconbox li:nth-child(3) a:hover {background-position:-40px -80px;}
ul#sec_iconbox li:nth-child(4) a {background-position:0px -120px;}
ul#sec_iconbox li:nth-child(4) a:hover {background-position:-40px -120px;}
ul#sec_iconbox li:nth-child(5) a {background-position:0px -160px;}
ul#sec_iconbox li:nth-child(5) a:hover {background-position:-40px -160px;}
ul#sec_iconbox li:nth-child(6) a {background-position:0px -200px;}
ul#sec_iconbox li:nth-child(6) a:hover {background-position:-40px -200px;}

/* title_footer */
/* position 값은 js에서 조정 */
#tit_footer {z-index:1; padding:100px 0 70px 0; height:auto; bottom:0;left:0; color:#f2f3fa;}
#footer_sec {width:1200px; height:auto; margin:0 auto;}
#footer_sec:after {content:""; display:block; clear:both;}

#footer_sec .footer_tname {display:block; margin:0 0 5px 0; padding:0 0 5px 0; border-bottom:1px solid #f2f3fa; font-family:"Jeju Gothic"; font-size:1.5rem; font-weight:600; letter-spacing:3px;} 

#footer_sec dl:after {content:""; display:block; clear:both;}
#footer_sec dt, #footer_sec dd {height:40px; line-height:2.500rem;}
#footer_sec dt {margin:0 20px 0 0;}

.footer_address {float:left;}
.footer_address dt {float:left; clear:both;}
.footer_address dd {float:left;}

#js_value_ph {width:130px; background-color:transparent; border:0;}
#footer_btn_copy {width:auto; cursor:copy;}

/* */
.footer_certify {float:right;}
.footer_certify dl dd a {display:block; width:80px; height:15px; margin:13px 0 0 0; background-image:url("../images/common/footer_certify.jpg");}
.footer_certify dl dd:nth-of-type(2) a {background-position:0 -15px;}
.footer_certify dl dd:nth-of-type(3) a {background-position:0 -30px;}
.footer_certify dl dd:nth-of-type(4) a {background-position:0 -45px;}
.footer_certify dl dd:nth-of-type(5) a {background-position:0 -60px;}

.footer_certify dt {float:left; clear:both;}
.footer_certify dd {float:left;}

.footer_copyright {float:left; width:100%; margin:70px 0 0 0; clear:both; text-align:center; font-size:0.75rem;}

/* */
#tit_scrolltop_box {position:fixed; z-index:5; width:50px; font-family:"Jeju Gothic"; font-size:0.75rem; color:#f2f3fa; bottom:5%; right:2%; background-color:rgba(52,54,66,0.5); border-radius:10px 0;}
#tit_scrolltop_box button {padding:5px 0 5px 0; line-height:0.875rem;}
#tit_scrolltop_box button:nth-child(1) {padding:8px 0 5px 0; border-radius:10px 0 0 0;}
#tit_scrolltop_box button:nth-child(3) {border-radius:0 0 10px 0;}
#tit_scrolltop_box button:hover {background-color:#4d4f5c;}

/* 미디어쿼리 */
@media only screen and (max-width:1280px) {
    #aside_sec {width:100%;}
    ul#sec_iconbox li a {margin:20px 50px;}
    #tit_footer {padding:50px 50px 50px 50px;}
    #footer_sec {width:100%;}
}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:960px) {
    .sec_whitebox_t {border-top:6vh solid #f2f3fa;}
    .sec_whitebox_b {border-top:6vh solid transparent;}
}

@media only screen and (max-width:768px) {
    #footer_sec .footer_tname {text-align:center;}
    #footer_sec .footer_certify .footer_tname {margin:50px 0 0 0;}
    #footer_sec dt {margin:0 0 0 0;}
    .footer_address {float:none;}
    .footer_certify {float:none;}
    #footer_sec dt, #footer_sec dd {width:50%; height:auto;}
    #footer_sec dt {padding:0 10px 0 0; text-align:right;}
    #footer_sec dd {padding:0 0 0 10px;}
    .footer_copyright {display:block; float:none; width:100%; margin:40px 0 0 0; text-align:center;}
}

@media only screen and (max-width:600px) {
}

@media only screen and (max-width:480px) {
    #tit_scrolltop_box {bottom:0%; right:0%;}
    #tit_scrolltop_box button {padding:3px 0 3px 0;}
    #tit_scrolltop_box button:nth-child(1) {padding:8px 0 3px 0;}

    .sec_whitebox_t {border-top:4vh solid #f2f3fa;}
    .sec_whitebox_b {border-top:4vh solid transparent;}
    #tit_footer {padding:50px 30px 50px 30px; font-size:0.875rem;}

}

@media only screen and (max-width:320px) {
    #tit_footer {padding:40px 20px 40px 20px; font-size:0.75rem;}
    #js_value_ph {width:100%; font-size:0.625rem; letter-spacing:0px;}
}