@charset "utf-8";

/* tit_nav */
#tit_nav {z-index:4; height:61px; top:0;left:0; background-color:rgba(52,54,66,1); background-image:url("../images/subcommon/topbg.jpg"); background-repeat:repeat-x;}
#nav_gnb_bg {width:100%; height:61px; background-color:rgba(52,54,66,1); background-image:url("../images/subcommon/topbg.jpg"); background-repeat:repeat-x;}
#nav_gnb_outer {position:relative; z-index:2; width:1200px; top:6px;left:50%; transform:translate(-50%);}
.nav_gnb {background-color:rgba(52,54,66,0.6); line-height:55px; padding:0 25px 0 0;}
.nav_gnb:after {content:""; display:block; clear:both;}
.nav_gnb:hover {cursor:all-scroll;}
.nav_gnb li {float:left;}
.nav_gnb li a {display:block; padding:0 25px 0 25px; color:#f2f3fa; font-family:"Jeju Gothic"; letter-spacing:3px;}
.nav_gnb li a:hover {font-weight:700; background-color:#4d4f5c;}
.nav_gnb li:last-child {float:right;}
.nav_gnb li:last-child a {width:80px; height:45px; padding:5px 5px 5px 5px;}
.nav_gnb li:last-child img {width:80px; height:45px;}

.nav_gnb_mobile_open {display:none; position:absolute; width:55px; height:55px; background-color:rgba(52,54,66,0.6); color:#f2f3fa; font-size:30px; font-weight:normal; top:6px;left:6px;}
.nav_gnb_mobile_open span {display:block; margin:-3px 0 0 0;}

.nav_gnb_tooltip_outer {position:absolute; z-index:1; background-color:rgba(52,54,66,0.8); top:63px;left:50%; transform:translate(-50%);
font-size:11px; color:#f2f3fa; border-radius:10px;}
.nav_gnb_tooltip {position:relative; width:100%; height:100%; padding:10px 10px 10px 45px;}
.n_g_t_warning {position:absolute; top:-4px; left:12px; font-size:30px; color:#cc435a;}


/* tit_nav_mobile */
#tit_nav_mobile {display:none; position:fixed; z-index:9999; width:100%; height:100%; top:0;left:0; background-color:rgba(204,67,90,0.9); opacity:0; font-family:"Jeju Gothic";}
.nav_mobile_gnb {width:100%; height:100%;}
.nav_mobile_gnb li {position:relative; width:100%; height:16.6%; }
.nav_mobile_gnb li a {display:block; width:100%; height:100%; color:#f2f3fa;}
.nav_mobile_gnb li a:hover {font-weight:700; background-color:#ff617b;}
.nav_mobile_gnb li a .n_m_g_center {position:absolute; top:50%;left:50%; transform:translate(-50%, -50%);}

.nav_mobile_cancel {position:absolute; width:490px; height:80px; transform:rotate(45deg); top:0; right:-200px; color:#f2f3fa; font-size:50px; background-color:#343642;}
.nav_mobile_cancel:hover {font-weight:700; background-color:#4d4f5c;}


/* tit_header */
#tit_header {z-index:2;}
#tit_header .tit_whitebox {position:relative; height:25vh; background-color: #cc435a; overflow:hidden;}
/* sub 페이지 header 배경모음 */
.sub01_tit_header_sec {position:relative; height:50vh; background:url("../images/common/mainbg1h.jpg") center center/cover no-repeat;}
.sub02_tit_header_sec {position:relative; height:50vh; background:url("../images/common/mainbg2h.jpg") center center/cover no-repeat;}
.sub03_tit_header_sec {position:relative; height:50vh; background:url("../images/common/mainbg3h.jpg") center center/cover no-repeat;}
.sub04_tit_header_sec {position:relative; height:50vh; background:url("../images/common/mainbg4h.jpg") center center/cover no-repeat;}
.sub05_tit_header_sec {position:relative; height:50vh; background:url("../images/common/mainbg5h.jpg") center center/cover no-repeat;}

/* tit_whitebox_main */
.tit_whitebox_main {position:relative; background-color:#cc435a; overflow:hidden;}
.tit_whitebox_main .sec_whitebox_b {position:static;}


/* tit_main */
#tit_main {z-index:3; padding:100px 0 100px 0; background-color: #f2f3fa;}
#tit_main_inner {width:1200px; height:auto; margin:0 auto;}

#tit_main_inner > section:nth-of-type(1) {margin:0;}
#tit_main_inner > section {margin:100px 0 0 0;}
#tit_main_inner > section > h3 {margin:15px 0 15px 0; padding:0 0 0 10px; border-left:10px solid #cc435a;}


/* 02sub00_tit_main */
.sub02_tit_main .main_tb1 {display:inline-block; width:60%; vertical-align:top; line-height:35px;}
.sub02_tit_main .main_tb1 tr {height:50px;}
.sub02_tit_main .main_tb1 tr th {width:125px; padding:0 20px 0 10px; border-bottom:2px solid #dadbe3; text-align:left;}
.sub02_tit_main .main_tb1 tr td {padding:0 10px 0 10px; border-bottom:2px solid #dadbe3;}
.sub02_tit_main .main_tb1 tr:last-child th, .sub02_tit_main .main_tb1 tr:last-child td {border:0;}
.sub02_tit_main .main_img_mypic {max-width:450px; width:38%; height:auto; padding:10px 0 0 2%;}
.sub02_tit_main .tb1_help {display:inline-block; position:relative; width:30px; height:30px; margin:0 0 0 5px; color:#cc435a; font-weight:700; border:2px solid #cc435a; border-radius:50%; overflow:hidden; line-height:25px; text-align:center; vertical-align:middle; cursor:help;}
.sub02_tit_main .tb1_help span {position:absolute; width:180px; height:auto; padding:5px 0 5px 0; top:5px;left:35px; font-size:11px; color:#f2f3fa; background-color:rgba(52,54,66,0.8); border-radius:10px;}
.sub02_tit_main .main_sec2 ul li {width:100%; height:auto; margin:0 0 20px 0; line-height:50px;}
.sub02_tit_main .main_sec2 ul li time {font-weight:700;}
.sub02_tit_main .main_sec2 ul li:last-child {margin:0;}

@media only screen and (max-width:1280px) {
    #nav_gnb_outer {width:100%;}
    .nav_gnb {padding:0 10px 0 0;}
    .nav_gnb li a {padding:0 10px 0 10px;}
    #tit_main_inner {width:100%; padding:0 50px 0 50px;}
}

@media only screen and (max-width:768px) {
    .nav_gnb_mobile_open {display:block;}
    .nav_gnb {display:none;}
    .nav_gnb_tooltip_outer {display:none;}

    /* 02sub00_tit_main */
    .sub02_tit_main .main_tb1 {width:100%;}
    .sub02_tit_main .main_img_mypic {width:100%;}
    .sub02_tit_main .tb1_help span {width:150px; top:30px;left:-55px;}
}

@media only screen and (max-width:600px) {
    
    
}

@media only screen and (max-width:480px) {
    #tit_main {padding:50px 0 50px 0;}
    #tit_main_inner {padding:0px 30px 0px 30px; font-size:14px;}


}

@media only screen and (max-width:320px) {
    /* 02sub00_tit_main */
    .sub02_tit_main .tb1_help span {width:100px; top:30px;left:-70px;}
}

