@charset "utf-8";

* {box-sizing:border-box;}

#content {
	width:100%; height:100%;
	text-align:center;}
	
#content nav {
	display:flex;
	align-items:center;
	justify-content:center;
	border-bottom:1px dashed #bfaeac;
	box-sizing:border-box;}
	
#content nav:nth-child(n+2):hover {
	background-color:#bfaeac;}	
	
#content nav:nth-child(1) {
	color:#fff;
	background-color:#4d0a01;
	height:7%;}

#content nav:nth-child(2) {
	height:46%;}
	
#content nav:nth-child(3) {
	height:47%;
	border:0;}
	
#content nav a {
	font-weight:bold; font-size:25px;
	display:block;
	padding:10%;}
	
/* 고정배너 */
#fixedbox:hover {
	width:75px; opacity:1;}
	
#fixedbox:hover a {display:block;}

#fixedbox {
	opacity:0.8;
	text-align:center; line-height:25px;
	font-weight:bold;
	z-index:999; 
	position:fixed; 
	top:100px; right:0;
	width:10px; height:50px;
	background-color:#fbd864;}
	
#fixedbox a {
	display:none;}	
/**/