@charset "utf-8";
/* CSS Document */

#middle_sect {
	width:1200px; margin:100px auto;
	text-align:center;
	font-family:'NanumGothicExtraBold';}
	
#middle_sect h3 {
	font-size:18px;
	text-decoration:underline;
}