@charset "utf-8";
/* CSS Document */

/**   join00 과 join02  과  cpIntro 과 findId 4개가 요기 css 하나안에 있음 **/

/* join00  */
#middle_sect {
	width:1200px;
	margin:100px auto;}
	
fieldset {
	width:830px;
	margin:50px auto 0 auto;
	border:0;}

legend.tit{font-size:18px; font-weight:bold;}

p.btn_wrap{text-align:center; margin:30px 0;}
#join_btn, #reset_btn{border:none; background-color:#bfaeac; color:#fff; cursor:pointer; width:100px; height:30px;}
#join_btn:hover, #reset_btn:hover{background-color:#e5d1cf;}
/**/

/*  join02  */
#middle_sect {text-align:center;}

#middle_sect span {
	font-size:25px;}
	
#but2 {
	margin-top:50px;}
	
/**/

/*  cpIntro  */

#middle_sect #cont_rule {
	/*560이 딱 맞음*/
	height:1530px; /*660*/
	text-align:center;
	position:relative;}
	
#cont_rule .all_title1 {
	position:relative; color:#fbd864;
	font-weight:bold; font-family:"pusansea";letter-spacing:3px;
	margin:0 auto;
	width:300px; height:50px;
	font-size:40px;
	animation-name:ani2;
	animation-direction:alternate;
	animation-duration:1s;
	animation-iteration-count:infinite;}

#cont_rule .all_title2 {
	position:relative; 
	font-weight:bold; font-family:"pusansea"; letter-spacing:5px;
	position:absolute; top:0px; left:470px;
	margin:0 auto;
	width:250px; height:50px;
	font-size:40px;
	animation-name:ani3;
	animation-direction:alternate;
	animation-duration:1s;
	animation-iteration-count:infinite;}
	
@keyframes ani2 {
	0% { opacity:1; }
	100%{ transform:scale(1.1);
			opacity:0;}
}

@-webkit-keyframes ani2 {
	0% { opacity:1; }
	100%{ transform:scale(1.1);
			opacity:0;}
}

@-moz-keyframes ani2 {
	0% { opacity:1; }
	100%{ transform:scale(1.1);
			opacity:0;}
}

@keyframes ani3 {
	0% { opacity:0;}
	100%{ transform:scale(1.1);
			opacity:1;}
}

@-webkit-keyframes ani3 {
	0%{ transform:scale(1.1);}
	100%{ transform:scale(1.1);
			opacity:1;}
}

@-moz-keyframes ani3 {
	0%{ transform:scale(1.1);}
	100%{ transform:scale(1.1);
			opacity:1;}
}
	
#cont_rule .rule_title {
	margin:50px auto 0 auto;
	width:350px; height:40px; line-height:40px;
	font-size:35px; font-weight:bold; font-family:"pusansea";
	border-top:3px solid #804740;
	border-bottom:1px solid #bfaeac;
	box-sizing:border-box;
	background-color:#fff;}

#cont_rule .cpimg img {
	width:1200px; height:700px;}

#cont_rule img{
	margin-top:50px; margin-bottom:35px;
	width:150px; height:150px;
	background-color:#aaa;}	
	
#cont_rule ul li{ 
	margin:0 20px 0 20px; font-family:"pusansea"; font-size:15px; font-weight:bold;
	line-height:33px; letter-spacing:1px;}
	
#cont_rule .error1{
	margin-top:20px;}
	
#cont_rule .error1 li {
	line-height:40px;}
	
#cont_rule figure:nth-child(n) {
	float:left;
	margin-top:50px; margin-left:38px; margin-right:37px;
	width:350px; height:450px;
	border:1px solid #bfaeac; box-sizing:border-box; }
	
/* 이유는 모르겠는데, 2 = figure 첫번째것임 */	
#cont_rule figure:nth-child(5) {
	margin:50px 0 0 0;}
	
#cont_rule figure:nth-child(6) {
	margin:50px 38px 0 37px;}
	
#cont_rule figure li h1 {
	font-size:20px; color:#090;
	display:inline-block;}
	/**/

#cont_road .road_title {
	margin:0px auto 0 auto;
	width:350px; height:40px; line-height:40px;
	font-size:35px; font-weight:bold; font-family:"pusansea";
	border-top:3px solid #804740;
	border-bottom:1px solid #bfaeac;
	box-sizing:border-box;
	background-color:#fff;;}
	
#cont_road .road_text table {
	border-collapse:collapse;
	width:950px; margin:0 auto;
	border-top:1px solid #bfaeac;
	border-bottom:1px solid #bfaeac;
	box-sizing:border-box;
	margin-top:20px; }
	
#cont_road .road_text table tr th {
	font-weight:bold; font-family:"pusansea"; letter-spacing:2px; font-size:15px;
	background-color:#bfaeac; color:#fff;
	padding-left:20px; height:30px;}
	
#cont_road .road_text table tr td {
	font-weight:bold; font-family:"pusansea"; letter-spacing:2px; font-size:15px;
	padding-left:20px; height:60px;}
	
#cont_road .road_map {
	margin:50px auto 50px auto;
	width:565px; height:308px;}
	
/*****/

/*	findId  */

#middle_sect #findId {
	width:500px; height:320px; 
	border:8px solid #bfaeac;}

#middle_sect table {
	text-align:left;
	font-weight:bold;
	margin:70px 0 50px 70px; 
	width:400px; height:100px;}
	
#but1 {
	width:320px; font-weight:bold;
	margin:20px auto 0 auto;}
	
#btnJoin, #btnCancle{
	background-color:#bfaeac; color:#fff; border:none; width:140px; height:35px;  cursor:pointer;}

#btnJoin:hover, #btnCancle:hover{background-color:#e5d1cf; font-weight:bold;}