@charset "utf-8";
/* CSS Document */

.checkbut {cursor:pointer; border:0;}

/* 회원가입 부분임 */
#middle_sect {
	position:relative;
	margin:50px auto 0 auto;
	width:1200px;
	height:805px; /* 755px 이 딱 맞는 높이임*/
	border-bottom:1px solid #bfaeac; 
	box-sizing:border-box;}
	
#table_join a img {
	width:60px; height:20px;}
	
#table_join table {
	margin: 0 auto;
	width:1000px; height:700px; 

	/*background-color:#ccbab8;*/}
	
#table_join table tr td {
	padding:0 0 0 150px;
	border-top:1px solid #bfaeac;
	box-sizing:border-box;}
	
#table_join table tr:last-child td{
	border-bottom:1px solid #bfaeac;
	box-sizing:border-box;}
	
#table_join table tr th {
	width:200px;
	background-color:#bfaeac; color:#fff;
	border-bottom:1px solid #fff;
	box-sizing:border-box;}
	
/**/ 	
#but1 {
	width:320px; 
	margin:20px auto 0 auto;}
	
#btnJoin, #btnCancle {
	background-color:#bfaeac; color:#fff; border:none; width:140px; height:35px;  cursor:pointer;}

#btnJoin:hover, #btnCancle:hover {background-color:#e5d1cf; font-weight:bold;}

#btnFind {
	background-color:#f2ebea; cursor:pointer;}
	
/*****/

/* 마이페이지-회원정보수정 부분임 */
/* 왼쪽 메뉴~~~*/	
#middle_sect #left_menu {
	position:absolute; top:100px;}
	
#left_menu ul li {
	background-color:rgba(77, 10, 1, 0.4);
	width:50px; height:50px;
	-moz-box-shadow:0px 2px 5px 0px #555;
	-webkit-box-shadow:0px 2px 5px 0px #555;
	box-shadow:0px 2px 5px 0px #555;}

#left_menu ul li a {
	font-size:0; line-height:0;}
	
#left_menu ul li a img {
	float:right; 
	width:40px; height:50px; }	
	
#left_menu ul li:hover a img {
	width:40px; height:50px; }	

#left_menu ul li:hover {
	background-color:rgba(77, 10, 1, 0.4);
	width:200px; height:50px;}
	
#left_menu ul li:hover a {
	display:block;
	font-size:16px; font-weight:bold; color:#fff;
	text-align:center; line-height:50px; }
	
#but2 {
	width:160px; 
	margin:20px auto 0 auto;}


/*******************************************/